<!DOCTYPE html>
<html>
	<head>
		<title>Faculty</title>
	</head>
	<body>

	<h1 id="faculty"> {{faculty}} </h1>
	
	</br>

	<select id="course">
		{{#each coursesList}}
		<option value={{this}}>{{this}}</option>
		{{/each}}
	</select>

	</br>

	<input id="date" type="date">
	</br>
	<input type="button" value="Take Attendance" onclick=sendData()>
	<script>
		function sendData() {
				var Faculty = document.getElementById("faculty").innerHTML;
				var course = document.getElementById("course").value;
				document.write(Faculty)
				document.write(course)
				window.location = "/takeAttendance/"+Faculty+"/"+course;
		}
	</script>

</body>
</html>
