<!DOCTYPE html>
<html>
<head>
	<title>Faculty</title>
</head>
<body>
	<form action="">
		<select>
			<option value="purini">Suresh Purini</option>
			<option value="kannan">Kannan Srinathan</option>
		</select>
		
		</br></br>
		
		<select>
			<option value="ds">Distributed Systems</option>
			<option value="pois">Principles of Information Security</option>
		</select>
		
		</br></br>

		<input id="date" type="date">

		</br></br>
		<input value="Take Attendance">
	</form>

	
</body>
</html>