<!DOCTYPE html>
<html>
<head>
	<title>QR Generator</title>
</head>
<body>

	<h1>{{faculty}}</h1>
	<h3>{{subj}}
	<div align="center">
		{{{svg_string}}}
	</div>
</br>
<input type="submit" value="Stop Attendance">
</body>
</html>