<!DOCTYPE html>
<html>
<head>
	<title>QR Generator</title>
<!-- 	<style type="text/css">
		div {
			display: inline-block;
			margin-left: 5px;
			height: 100px;
			width: 100px;
			border-radius: 100%;
			border: 2px solid black;
			margin:auto;

		}
	</style> -->
</head>
<body>
	<div align="center"><img src="http://www.cdc.gov/stroke/images/family_history.jpg"></div>
</br>
<input type="submit" value="Stop Attendance">
</body>
</html>