<!DOCTYPE html>
<html>
<head>
	<title>QR Generator</title>
</head>
<body>

	<h1>{{faculty}}</h1>
	<h3>{{subj}}
	<div align="center">
		{{{svg_string}}}
	</div>
</br>
<input type="button" value="Stop Attendance" onclick="redirect()">

<script>
	function redirect() {
		window.location = "/faculty";
	}
</script>

</body>
</html>